<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
  Splurty was built by <a target="_blank" href="https://github.com/tguy728/Splurty">Trey</a>. A web developer who is on a mission to give people quotes that deliver when they need them.
</p>
<br />
<p>
  These quotes are discovered and put together to help motivate people when they need it most.
</p>

    </div>

<br />
<br />

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Trey Guy</h2>
      <br />
      <p>
        Trey Guy has worked in television production and Real Estate helping to create content and get people into their new homes for many years.
      </p>
  <br />    


<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid rotateimg90' %>


    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

